.sizes-buttons-wrapper button {
	text-align: left;
	width: fit-content;
	/* padding: 0 0 8px; */
	padding: 0;
	color: grey;
	font-size: 14px;
	white-space: nowrap;
}
.add-icon,
.remove-icon {
	color: #de4c4a;
}
.sizes-buttons-wrapper button:hover {
	color: #de4c4a;
}

.sizes-buttons-wrapper button:hover .add-icon,
.sizes-buttons-wrapper button:hover .remove-icon {
	color: #fff;
	background-color: #de4c4a;
}

.sizes-buttons-wrapper button .add-icon,
.sizes-buttons-wrapper button .remove-icon {
	align-items: center;
	border-radius: 50%;
	display: inline-flex;
	height: 17px;
	justify-content: center;
	margin-right: 11px;
	-webkit-transform: translateY(8px);
	transform: translateY(8px);
	vertical-align: 7px;
	width: 17px;
}

.dimensions-wrapper {
	display: flex;
	flex-direction: column;
	height: calc(225px - 1rem);
	overflow-y: auto;
}

.sizes {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.dimensions-list-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	gap: 0.25rem;
}

.dimensions-list-wrapper svg {
	position: absolute;
	top: 34px;
	left: -20px;
	color: #de4c4a;
	align-items: center;
	border-radius: 50%;
}

.dimensions-list-wrapper svg:hover {
	color: #fff;
	background-color: #de4c4a;
}

.dimensions-list-wrapper input {
	height: 2.25rem;
	padding-left: 0.25rem;
}

.dimensions-list-wrapper input:disabled {
	filter: brightness(0.95);
}

.size {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.size label {
	align-self: start;
}

.size .unit {
	position: absolute;
	right: 1px;
	top: 0px;
	width: 38px;
	height: 36px;
	line-height: 37px;
	display: flex;
	justify-content: center;
	/* border-left: 1px solid #656d77; */
	border-left: 1px solid grey;
	color: grey;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 0;
}

.add-dimensions-button:disabled:hover {
	color: gray;
}

.add-dimensions-button:disabled .add-icon {
	color: gray;
}

.add-dimensions-button:disabled:hover .add-icon {
	background-color: transparent;
	color: gray;
}
