.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 483px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;

	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App-link {
	color: #61dafb;
}

button {
	font-size: calc(10px + 2vmin);
}

section {
	position: relative;
	top: -130px;
	background-color: #f3f3f3;
	border-radius: 10px;
	margin-inline: auto;
	display: flex;
	justify-content: space-around;
	gap: 2rem;
	max-width: 940px;
	padding: 1rem;
}

.resize-me {
	width: 433px;
	z-index: 3;
	margin-top: 90px;
}
